VITE_WALLETCONNECT_PROJECT_ID=
VITE_CHAIN_ID=4663
VITE_ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
VITE_PUBLIC_API_BASE_URL=http://localhost:8787
VITE_ADAPTER8004_ADDRESS=
VITE_LOXLEYS_ART_ADDRESS=
VITE_LOXLEYS_CANVAS_ADDRESS=
VITE_AGENT_EXTENSIONS_ADDRESS=
VITE_EXPLORER_BASE_URL=https://robinhoodchain.blockscout.com
