PUBLIC_API_BASE_URL=http://localhost:8787
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
PONDER_GRAPHQL_URL=http://localhost:42069/graphql
ADAPTER8004_ADDRESS=
LOXLEYS_ART_ADDRESS=
LOXLEYS_CANVAS_ADDRESS=
AGENT_EXTENSIONS_ADDRESS=
PORT=8787
